##Spring Configuration
server:
  port: 8082
  servlet:
    context-path: /api/v1
spring:
  application:
    name: customer-debts
  profiles:
    active: dev
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/customerdebtsdb
    username: postgres
    password: Z3vAZgz87w
    driverClassName: org.postgresql.Driver
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
  messages:
    basename: i18n/messages
    encoding: UTF-8
    fallback-to-system-locale: false
logging:
  level:
    root: INFO
jwt:
  secret:
    key: ekYmQr0KqUsJTLs5zcUl0J4W6L3Bffk3
