# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

env:
  SERVICE: customer-debts
  NAMESPACE: default
  ENVIRONMENT: dev
  APPLICATION_NAME: customer-debts
  CONTAINER_PORT: 8080
  SERVICE_PORT: 80
  REPLICAS: 1
  IMAGE: manwkult/customer-debts:${{ github.sha }}
  MEMORY_REQUEST: 200
  CPU_REQUEST: 100
  MEMORY_LIMITS: 400
  CPU_LIMITS: 200
  READINESS_PROBE_PATH: /api/v1/health
  READINESS_PROBE_PORT: 8080
  READINESS_PROBE_PERIOD_SECONDS: 10
  READINESS_PROBE_TIMEOUT_SECONDS: 5
  READINESS_PROBE_SUCCESS_THRESHOLD: 1
  READINESS_PROBE_INITIAL_DELAY_SECONDS: 20
  LIVENESS_PROBE_PATH: /api/v1/health
  LIVENESS_PROBE_PORT: 8080
  LIVENESS_PROBE_PERIOD_SECONDS: 10
  LIVENESS_PROBE_FAILURE_THRESHOLD: 3
  LIVENESS_PROBE_TIMEOUT_SECONDS: 5
  LIVENESS_PROBE_SUCCESS_THRESHOLD: 1
  LIVENESS_PROBE_INITIAL_DELAY_SECONDS: 20
  CONFIGMAP: customer-debts
  POSTGRES_HOST: postgres
  POSTGRES_PORT: 5432
  POSTGRES_DBNAME: customerdebtsdb
  POSTGRES_USERNAME: postgres
  REDIS_HOST: redis
  REDIS_PORT: 6379

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Run Unit Test
      run: ./gradlew test

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build & Push Image
      uses: docker/build-push-action@v2
      with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.APPLICATION_NAME }}:${{ github.sha }}

    - name: Replace Tokens
      uses: cschleiden/replace-tokens@v1
      with:
        files: '["./deployment/k8/*.yaml"]'
      env:
        service: ${{ env.SERVICE }}
        namespace: ${{ env.NAMESPACE }}
        env: ${{ env.ENVIRONMENT }}
        application-name: ${{ env.APPLICATION_NAME }}
        container-port: ${{ env.CONTAINER_PORT }}
        service-port: ${{ env.SERVICE_PORT }}
        replicas: ${{ env.REPLICAS }}
        image: ${{ env.IMAGE }}
        memory-request: ${{ env.MEMORY_REQUEST }}
        cpu-request: ${{ env.CPU_REQUEST }}
        memory-limits: ${{ env.MEMORY_LIMITS }}
        cpu-limits: ${{ env.CPU_LIMITS }}
        readinessProbe-path: ${{ env.READINESS_PROBE_PATH }}
        readinessProbe-port: ${{ env.READINESS_PROBE_PORT }}
        readinessProbe-periodSeconds: ${{ env.READINESS_PROBE_PERIOD_SECONDS }}
        readinessProbe-timeoutSeconds: ${{ env.READINESS_PROBE_TIMEOUT_SECONDS }}
        readinessProbe-successThreshold: ${{ env.READINESS_PROBE_SUCCESS_THRESHOLD }}
        readinessProbe-initialDelaySeconds: ${{ env.READINESS_PROBE_INITIAL_DELAY_SECONDS }}
        livenessProbe-path: ${{ env.LIVENESS_PROBE_PATH }}
        livenessProbe-port: ${{ env.LIVENESS_PROBE_PORT }}
        livenessProbe-periodSeconds: ${{ env.LIVENESS_PROBE_PERIOD_SECONDS }}
        livenessProbe-failureThreshold: ${{ env.LIVENESS_PROBE_FAILURE_THRESHOLD }}
        livenessProbe-timeoutSeconds: ${{ env.LIVENESS_PROBE_TIMEOUT_SECONDS }}
        livenessProbe-successThreshold: ${{ env.LIVENESS_PROBE_SUCCESS_THRESHOLD }}
        livenessProbe-initialDelaySeconds: ${{ env.LIVENESS_PROBE_INITIAL_DELAY_SECONDS }}
        configmap: ${{ env.CONFIGMAP }}
        postgres-host: ${{ env.POSTGRES_HOST }}
        postgres-port: ${{ env.POSTGRES_PORT }}
        postgres-dbname: ${{ env.POSTGRES_DBNAME }}
        postgres-username: ${{ env.POSTGRES_USERNAME }}
        postgres-password: ${{ secrets.POSTGRES_PASSWORD }}
        redis-host: ${{ env.REDIS_HOST }}
        redis-port: ${{ env.REDIS_PORT }}
        jwt-secret-key: ${{ secrets.JWT_SECRET_KEY }}

    - name: Validate Configmap
      run: cat ./deployment/k8/configmap.yaml

    - name: Validate Deployment
      run: cat ./deployment/k8/deployment.yaml

    - name: Set Up k8s - Digital Ocean
      uses: matootie/dokube@v1.3.4
      with:
        personalAccessToken: ${{ secrets.DIGITALOCEAN_TOKEN }}
        clusterName: k8s-customer-debts

    - name: Deploy
      run: kubectl apply -f ./deployment/k8
